<h1>About</h1>

<p>This site is the result of a CRUD MVC OOP course with PHP given by Rafael Campoani through his YouTube channel.</p>
<p><a href="https://www.youtube.com/playlist?list=PLgbAYUnxJ2NE6eM2xkOlpqJ5sl37bLyKx">Channel Link</a></p>
<p>The main purpose of this course is not how to develop CRUD functionality, but how to develop using an
    MVC architecture, keeping the presentation of data separate from the methods that interact with the data. </p>
<p>On this project, we used Model, View and Controller folders to organize the source files and a Router.php to
    control the requests and de responses, conducting each request to a Controller, then to a Model, and then a response
    for a view.</p>
<p>And we used a Singleton Design Pattern to create a Connection class to connect with MySQL database.</p>
<p>I truly recommend this course for everyone who will develop any kind of system using OOP PHP.</p>
<p>Thank you, Rafael Campoani for this excellent course.</p>
<p>To see this projetct on GitHub <a href="https://github.com/thiagoluna/php-crud-mvc-oop" target="_blank">click here</a></p>